:root {
  --color-header: #ffffff;
  --color-body: #ffffff;

  --color-south-east: #4294b5;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /*  1rem = 10px, 10px/16px = 62.5% */
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  /* light 300, regular 400, medium 500 */
  font-weight: 400;
  line-height: 1.6;

  min-height: 100vh;
  background-color: var(--color-body);
}
